# Predicting Job change of data spcientists

Source of data: https://www.kaggle.com/datasets/undersc0re/predict-the-churn-risk-rate

## Loading the dataset and Packages

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
train_data = pd.read_csv("Data/train.csv")
test_data = pd.read_csv("Data/test.csv")

## Experimental Data Analysis

In [3]:
print(train_data.shape)
print(test_data.shape)

(19158, 14)
(2129, 13)

Data was splitted prior in the source dataset. Train dataset has target column and test dataset does not.

In [4]:
train_data.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [5]:
test_data.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,32403,city_41,0.827,Male,Has relevent experience,Full time course,Graduate,STEM,9,<10,NaN,1,21
1,9858,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,Pvt Ltd,1,98
2,31806,city_21,0.624,Male,No relevent experience,no_enrollment,High School,NaN,<1,NaN,Pvt Ltd,never,15
3,27385,city_13,0.827,Male,Has relevent experience,no_enrollment,Masters,STEM,11,10/49,Pvt Ltd,1,39
4,27724,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,72

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  1621 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2124 non-null   object
 9   company_size            1507 non-null   object
 10  company_type            1495 non-null   object
 11  last_new_job            2089 non-null   object
 12  training_hours          2129 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.4+ KB

From the table descriptions, train's and test's data only difference is the target column. A new column is created in the test data called 'target' to mirror the train's data. Then the data is combined in a seperate df.

In [12]:
## Getting whole data into one dataframe
train_data['train_test'] = 1
test_data ['train_test'] = 0
test_data['target'] = -1 ## new dummy data

df = pd.concat([train_data, test_data])

### Categorical and Numerical Columns

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21287 entries, 0 to 2128
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             21287 non-null  int64
 1   city                    21287 non-null  object
 2   city_development_index  21287 non-null  float64
 3   gender                  16271 non-null  object
 4   relevent_experience     21287 non-null  object
 5   enrolled_university     20870 non-null  object
 6   education_level         20775 non-null  object
 7   major_discipline        18162 non-null  object
 8   experience              21217 non-null  object
 9   company_size            14727 non-null  object
 10  company_type            14513 non-null  object
 11  last_new_job            20824 non-null  object
 12  training_hours          21287 non-null  int64
 13  target                  21287 non-null  float64
 14  train_test              21287 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 2.6+ MB

In [15]:
df.select_dtypes(include=['object']).columns.tolist()

['city',
 'gender',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline',
 'experience',
 'company_size',
 'company_type',
 'last_new_job']

In [19]:
categorical_columns = list(df.dtypes[df.dtypes == "object"].index)
categorical_columns

['city',
 'gender',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline',
 'experience',
 'company_size',
 'company_type',
 'last_new_job']

In [20]:
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(" ", "_")

In [21]:
for col in df.columns:
    print(col)
    print(df[col].unique()[:5])
    print(df[col].nunique())
    print()

enrollee_id
[ 8949 29725 11561 33241   666]
21287

city
['city_103' 'city_40' 'city_21' 'city_115' 'city_162']
123

city_development_index
[0.92  0.776 0.624 0.789 0.767]
93

gender
['male' nan 'female' 'other']
3

relevent_experience
['has_relevent_experience' 'no_relevent_experience']
2

enrolled_university
['no_enrollment' 'full_time_course' nan 'part_time_course']
3

education_level
['graduate' 'masters' 'high_school' nan 'phd']
5

major_discipline
['stem' 'business_degree' nan 'arts' 'humanities']
6

experience
['>20' '15' '5' '<1' '11']
22

company_size
[nan '50-99' '<10' '10000+' '5000-9999']
8

company_type
[nan 'pvt_ltd' 'funded_startup' 'early_stage_startup' 'other']
6

last_new_job
['1' '>4' 'never' '4' '3']
6

training_hours
[36 47 83 52  8]
241

target
[ 1.  0. -1.]
3

train_test
[1 0]
2

### Handling NA

In [25]:
df.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    5016
relevent_experience          0
enrolled_university        417
education_level            512
major_discipline          3125
experience                  70
company_size              6560
company_type              6774
last_new_job               463
training_hours               0
target                       0
train_test                   0
dtype: int64

In [24]:
for col in categorical_columns:
    print(col)

(21287, 15)